<h3>Sistemas</h3>
<div ng-hide="Sistemas.inserting || Sistemas.editing">
  <label for="textinput-filter" class="">{{"template.crud.search" | translate}}</label>
  <input type="text" ng-model="search" class="form-control" value="" placeholder="{{'template.crud.search' | translate}}">
</div>
<br/>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="?search={{search}}" name="Sistemas" entity="api/rest/diagram/sistema/Sistemas/generalSearch" keys="guid" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
  <button class="btn btn-primary" type="submit" onclick="" ng-click="Sistemas.startInserting()" ng-hide="Sistemas.inserting || Sistemas.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Sistemas">
  <div crn-datasource="Sistemas" class="" ng-hide="Sistemas.editing || Sistemas.inserting">
    <table class="table  table-bordered table-hover table-striped">
      <thead>
        <tr class="table-header">
          <th class="">
            <div class="">Sis</div>
          </th>
          <th class="">
            <div class="">Nomesis</div>
          </th>
          <th class="">
            <div class="">Versao</div>
          </th>
          <th class="">
            <div class="">Habilsis</div>
          </th>
          <th class="">
            <div class="">Take</div>
          </th>
          <th class="">
            <div class="">{{"template.crud.actions" | translate}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td class="">
            <div class="">
              {{rowData.sis}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.nomesis}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.versao}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.habilsis}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.take | date:'dd/MM/yyyy'}}
            </div>
          </td>
          <td class="">
            <div class="">
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>
<div data-component="crn-form" id="crn-form-form-Sistemas">
  <div class="form" ng-show="Sistemas.editing || Sistemas.inserting">
    <form crn-datasource="Sistemas" class="">
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <br/>
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
        <div data-component="crn-textinput" id="crn-textinput-sis">
          <div class="form-group">
            <label for="textinput-sis" class="">Sis</label>
            <input
              type="text"
              ng-model="Sistemas.active.sis"
              class="form-control"
              id="textinput-sis"
              placeholder="Sis"
              required="required">
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-nomesis">
          <div class="form-group">
            <label for="textinput-nomesis" class="">Nomesis</label>
            <input
              type="text"
              ng-model="Sistemas.active.nomesis"
              class="form-control"
              id="textinput-nomesis"
              placeholder="nomesis"
              >
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-habilsis">
          <div class="form-group">
            <label for="textinput-habilsis" class="">Habilsis</label>
            <input
              type="text"
              ng-model="Sistemas.active.habilsis"
              class="form-control"
              id="textinput-habilsis"
              placeholder="habilsis"
              >
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-versao">
          <div class="form-group">
            <label for="textinput-versao" class="">Versao</label>
            <input
              type="text"
              ng-model="Sistemas.active.versao"
              class="form-control"
              id="textinput-versao"
              placeholder="versao"
              >
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-take">
          <div class="form-group">
            <label for="textinput-take" class="">Take</label>
            <div style="position:relative">
              <input type="text" as-date
              format="DD/MM/YYYY"
              ng-model="Sistemas.active.take" class="form-control" id="textinput-take" placeholder="Take" >
            </div>
          </div>
        </div>
        <!-- NtoN  -->
        <!-- NtoN  end-->
      </fieldset>
    </form>
    <form>
        <fieldset>
            <!-- OneToN -->
        <!-- OneToOne  end -->
        
        </fieldset>
    </form>
  </div>
</div>